@font-face {
	font-family: 'Chronicle Display Bold';
	src: url("../fonts/ChronicleDisplay-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/ChronicleDisplay-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/ChronicleDisplay-Bold.woff") format("woff"), /* Modern browsers */
		url("../fonts/ChronicleDisplay-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold") format("svg"); /* Legacy iOS */
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #fff;
	background-color: #0e223d;
}

h1 {
	font-family: 'Chronicle Display Bold', serif;
	font-size: 3em;
}

hr {
	border: 0;
	height: 3px;
	background: #de124d;
	width: 10%;
	margin-left: 0;
	text-align: left; /* For IE and Opera */
	
	background-image: linear-gradient(to right, #de124d, #223053);
}	

/* Navbar */
.navbar {
	background-color: transparent;
	transition: all 0.25s ease;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
}

.navbar.on-main {
	background-color: #0e223d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	/* add shadow */
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {float: left;}

.navbar li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {background-color: #223053;}

.on-main li a:hover {background-color: #de124d;}

.on-main a:hover {color: #000;}

/* Landing page */
.header {
	font-family: 'Chronicle Display Bold', serif;
	font-size: 4em;
}

.intro {
	position: relative;
	height: 100%;
	z-index: 1;
}

.intro .bg {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
	background-image: url("/img/pm.jpg");
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	
	/* Center and scale image */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #fff;
}

/* Section headers */
.section {
	position: relative;
	z-index: 1;
}

.section-title {
	font-family: 'Chronicle Display Bold', serif;
	font-size: 3em;
	
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	text-align: center;
}

/*
.bgimg-1 {background-image: url("/img/lighthouse.jpg");}

.bgimg-2 {background-image: url("/img/heaven.jpg");}

.bgimg-3 {background-image: url("/img/thunderclouds.jpg");}
*/

.section .bgimg-1, .bgimg-2, .bgimg-3 {
	position: absolute;
	z-index: -1;
	
	/* Center and scale image */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#about, #skills, #projects, #experience, #contact {margin: 5% 5%;}



