@font-face {
	font-family: 'Chronicle Display Bold';
	src: url("../fonts/ChronicleDisplay-Bold.eot"); /* IE9 Compat Modes */
	src: url("../fonts/ChronicleDisplay-Bold.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		url("../fonts/ChronicleDisplay-Bold.woff") format("woff"), /* Modern browsers */
		url("../fonts/ChronicleDisplay-Bold.ttf") format("truetype"), /* Safari, Android, iOS */
		url("../fonts/ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold") format("svg"); /* Legacy iOS */
}

* {
	box-sizing: border-box;
}

body, html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 100%;
	color: #fff;
	background-color: #0e223d;
}

h1 {
	font-family: 'Chronicle Display Bold', serif;
	font-size: 3em;
	line-height: 16px;
}

hr {
	display: block;
	position: relative;
	padding: 0;
	margin: 40px auto;
	height: 0;
	width: 10%;
	
	/* Compat with Opera */
	max-height: 0;
	
	/* Compat with IE */
	font-size: 1px;
	line-height: 0;
	clear: both;
	
	border: none;
	border-top: 2px solid #de124d;
}

hr.left {
	text-align: left;
	margin-left: 0; /* Cross browser support */
}

.col-1 {width: 25%;}
.col-2 {width: 50%;}
.col-3 {width: 75%;}
.col-4 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

@media only screen and (max-width: 600px) {
	/* For mobile devices */
	[class*="col-"] {
        width: 100%;
    }
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

/* Navbar */
.navbar {
	background-color: transparent;
	transition: all 0.25s ease;
	position: fixed;
	z-index: 2;
	top: 0;
	width: 100%;
}

.navbar.on-main {
	background-color: #0e223d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.navbar li {float: left;}

.navbar li a {
	display: block;
	color: #fff;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.navbar li a:hover {background-color: #223053;}

.on-main li a:hover {background-color: #de124d;}

.on-main a:hover {color: #000;}

/* Landing page */
.header {
	font-family: 'Chronicle Display Bold', serif;
	font-size: 4em;
}

.intro {
	position: relative;
	height: 100%;
	z-index: 1;
}

.intro .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-image: url("/img/pm.jpg");
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	
	/* Center and scale image */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.caption {
	position: absolute;
	left: 0;
	top: 40%;
	width: 100%;
	text-align: center;
	color: #fff;
}

/* Section format */
.content {
	margin: 5% 5%;
}

/* Section headers */
.section {
	position: relative;
	height: 25vh;
	z-index: 1;
}

.section-title {
	font-family: 'Chronicle Display Bold', serif;
	font-size: 3em;
	
	position: absolute;
	
	/* Vertical alignment */
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%); /* For Safari */
	-ms-transform: translateY(-50%); /* For IE */
	transform: translateY(-50%);
	width: 100%;
	
	text-align: center;
}

.bgimg-1 {background-image: url("/img/lighthouse.jpg");}

.bgimg-2 {background-image: url("/img/heaven.jpg");}

.bgimg-3 {background-image: url("/img/thunderclouds.jpg");}

.section .bgimg-1, .bgimg-2, .bgimg-3 {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	opacity: 0.6;
	filter: alpha(opacity=60); /* For IE8 and earlier */
	
	/* Center and scale image */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Skill bar */
.container {
	width: 100%;
	background-color: #ddd;
}

.skills {
	text-align: right;
	padding-right: 15px;
	height: 20px;
}

.python {width: 90%; background-color: #de124d;}
.java {width: 90%; background-color: #de124d;}
.cpp {width: 60%; background-color: #9c0c35;}
.c {width: 60%; background-color: #9c0c35;}
.sql {width: 60%; background-color: #9c0c35;}
.html {width: 50%; background-color: #5a061d;}
.css {width: 40%; background-color: #5a061d;}

/* Tools list */
ul.tools {padding: 20px;}

ul.tools li {
	font-size: 1.25em;
	margin-left: 35px;
	margin-bottom: 20px;
}

/* Project logo */
.row.project {
	height: 200px;
}

.col-1.logo {
	height: 200px;
	text-align: center;
	vertical-align: bottom;
}

.logo img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}

.project-title {margin: 0}

.project-title h2 {
	display: inline;
}

.project-title a {
	float: right;
	color: #de124d;
	border: 2px solid #de124d;
	border-radius: 3px;
	padding: 5px;
	font-weight: bold;
	text-decoration: none;
}

.project-title a:hover {
	color: #fff;
	background-color: #de124d;
}	

/* Project tags */
.tags {
	bottom: 0;
}

.tags ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.tags li {
	float: left;
	border: 2px solid #333;
	background-color: #de124d;
	border-radius: 4px;
	padding: 3px 5px;
	margin-right: 5px;
	font-size: .75em;
}


